* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: linear-gradient(125deg, orange, purple);
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-image:
   linear-gradient(rgb(129, 131, 57),rgb(146, 146, 174),
   rgb(104, 121, 148))
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.header .box {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 20px;
  color: #1e7fb0;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.header .box hr {
  border-top: 2px solid #a2a2a2;
  margin: 3px;
}
.header .box input {
  width: 100%;
  margin-bottom: 3px;
  height: 50px;
  padding: 3px;
  resize: vertical;
}
.header .box .qrcode {
  padding: 3px;
}
.header .box .sqrcode {
  padding: 3px;
  margin-left: 15px;
}
.header .box button  {
  width: 100%;
  height: 35px;
  background: #1e7fb0;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#btn:hover {
  background-color: #245a75;
}

#btn:active{
  background-color: #194154;
}


input {
  background-color: #5c6873f2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 2px;
  padding: 25px;
  outline: none;
  border-radius: 2px;
}


input [type = text] {
  background-color: #1e7fb0;
  width: 280px;
  
  
}

input[type=text]:hover {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border:  1px solid rgba(209, 186, 186, 0.228);
 
}

input[type=text]:active {
  color: silver;
}



h1 {
  -webkit-text-stroke: 1px black;
  color: #ffffff;
  text-shadow: 
  2px 2px 0 #0000,
  -1px -1px 0 #0000,
  1px -1px 0 #0000,
  1px 1px 0 #0000;
  border-radius: 10px;
  opacity: 40%;
  font-family: monospace,sans-serif;
  
}

h4 {
  -webkit-text-stroke: 1px black;
  color: #ffffff;
  text-shadow: 
  2px 2px 0 #0000,
  -1px -1px 0 rgba(255, 255, 255, 0),
  1px -1px 0 #0000,
  1px 1px 0 #0000;
}
